<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.guli.dao.SpuSizeMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.guli.po.SpuSize">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spu_size" jdbcType="VARCHAR" property="spuSize" />
    <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, spu_id, spu_size, is_enabled
  </sql>
  <resultMap id="BaseResultMap" type="com.neusoft.guli.po.SpuSize">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spu_size" jdbcType="VARCHAR" property="spuSize" />
    <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, spu_id, spu_size, is_enabled
  </sql>
</mapper>